.page {
    display: flex;
    justify-content: center;
}

.left_content {
    width: 100%;
    max-width: 1200px;
    margin-left: 50px;
    margin-right: 12px;
}

.right_content {
    margin-left: 12px;
    margin-right: 50px;
    max-width: 230px;
    min-height: 300px;
    width: 23%;
    display: flex;
}

.wrapper {
    position: fixed;
    width: 230px;
}